<!DOCTYPE html>
<html>
<head>
  <title>Cats</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>

<ul>
	<li><%= link_to "Cats", cats_url %></li>
	<li><%= link_to "Search", cats_search_path %></li>
	<li><%= link_to "Owners", owners_url %></li>
	<li></li>
</ul>

</nav>

<%= yield %>

</body>
</html>
